<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Criar Conta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Nome" [(ngModel)]="user.nome" #nome="ngModel" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Matricula" [(ngModel)]="user.matricula" #matricula="ngModel" required></ion-input>
    </ion-item>
    <ion-item *ngIf="nome.errors && (nome.dirty || nome.touched)" class="text-danger">
           Campo obrigatório
       </ion-item>

    <ion-item>
      <ion-input type="text" placeholder="Email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
    </ion-item>

    <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
           Campo obrigatório
       </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Senha" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
    </ion-item>
    <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
           Campo obrigatório
       </ion-item>



  </ion-list>

  <div padding>
    <button ion-button color="primary" (click)="criarConta()" block>Cadastre-se</button>
  </div>

</ion-content>
