<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="autenticacao" padding>
    <h3>Você está conectado!</h3>
  </div>
  <ion-list>
    <ion-item>
      <ion-label fixed>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-item>
  <ion-label>Continuar Logado</ion-label>
  <ion-checkbox color="dark" checked="true"></ion-checkbox>
</ion-item>
  <div padding>
    <button ion-button *ngIf="!autenticacao" (click)="cadastrar()">Clique aqui pra cadastrar</button>
    <button ion-button *ngIf="!autenticacao" (click)="login()"> Login</button>
    <button ion-button *ngIf="autenticacao" (click)="logout()"> Logout</button>
  </div>
</ion-content>
